<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cypto Project</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
    <body class="bg-black">
        <header class="container mx-auto h-screen flex justify-center items-start pt-3">
            <h1 class="text-4xl font-bold underline p-6 border-3 border-white text-white">Crypto Project</h1>
        </header>

        <main>
        </main>

        <footer>
            <div class="container mx-auto flex justify-center items-center p-6">
                <p class="text-white font-bold">© 2025 Crypto Project. All rights reserved.</p>
            </div>
        </footer>

    </body>
</html>